<footer>
  <div class="footer-content-centralizer">
    <div class="footer-content-wrapper">
      <div class="footer-links stacked">
        <div>© VIER VOETERS</div>
        <div> Oostenburgervoorstraat 162, 1018 MR, Amsterdam | 020-625 25 26</div>
        <div>office@vier-voeters.nl, +31 (0)20 625 25 26</div>
        <div>IBAN: NL56ABNA0590302558</div>
        <div>KvK 34179613 | RSIN/fiscaal nummer: 811277835</div>
      </div>

      <div class="footer-social-icons">
        <a class="contact" href="https://www.vier-voeters.nl/over-vier-voeters/contact" target="_blank" title="contact">
          <i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a class="facebook" href="https://www.facebook.com/FourPaws.NL" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="instagram" href="https://www.instagram.com/viervoeters/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="youtube" href="https://www.youtube.com/user/VIERVOETERS" target="_blank">
          <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        <a class="twitter" href="https://twitter.com/viervoeters" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
