<div id="pageContainer" class="col-lg-6">
  <h1>CONTRIBUTE TO A BETTER WORLD FOR ANIMALS!</h1>
  <h2>CONTRIBUTE TO A BETTER WORLD FOR ANIMALS!</h2>
  <h3>CONTRIBUTE TO A BETTER WORLD FOR ANIMALS!</h3>
  <h4>CONTRIBUTE TO A BETTER WORLD FOR ANIMALS!</h4>
  <h5>CONTRIBUTE TO A BETTER WORLD FOR ANIMALS!</h5>
  <h6>CONTRIBUTE TO A BETTER WORLD FOR ANIMALS!</h6>
  <p>Donations from kind supporters such as yourself in order to fund our projects focused on animal rescue and welfare.
    We have various projects and campaigns such as:
  </p>
  <ul>
    <li>FOUR PAWS Sanctuaries and support for local shelters that accommodate and pro-actively take care of rescued animals.</li>
    <li>Emergency Disaster Relief campaigns, such as our recent campaign for the lions in Sudan.</li>
    <li>Campaigns for animal rights & welfare issues, such as our campaign against the Dog and Cat Meat Trade Industry in Southeast Asia
      and our campaign for the bile bears in Vietnam.</li>
    <li>Castration & Vaccination programs such as our project in Silk Island for the wellbeing of stray animals.</li>
  </ul>
  <p>Additionally, we have many other active projects such as undercover investigations, campaigns against fur and the tiger trade industry.
    All our campaigns have one thing in common, which is adhering to our 3 important values:
    reveal, rescue & protect. Please have a look at our campaign page for our current projects.</p>
</div>

