<div id="formContainer" class="col-lg-6" [hidden]="submitted">
  <app-hero-box></app-hero-box>
  <form (ngSubmit)="onSubmit()" #Form="ngForm">
    <hr>
      <div>{{diagnostic}}</div>
    <hr>

    <div class="form-group">
        <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <label class="form-control-placeholder" for="name">Name *</label>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName">
      <label class="form-control-placeholder" for="lastName">Last Name *</label>
    </div>

    <div class="form-group">
      <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email">
      <label class="form-control-placeholder" for="email">Email *</label>
    </div>

    <div class="form-group">
      <input type="date" class="form-control" id="birthdate" [(ngModel)]="model.birthdate" name="birthdate">
      <label class="form-control-placeholder" for="birthdate">Birthdate *</label>
    </div>

<!--    <div class="form-group">-->
<!--      <label for="flower">Favorite Flower</label>-->
<!--      <select class="form-control" id="flower" required [(ngModel)]="model.flower" name="flower" #place="ngModel">-->
<!--        <option *ngFor="let flower of flowers" [value]="flower">{{ flower }}</option>-->
<!--      </select>-->
<!--      <div [hidden]="place.valid || place.pristine" class="alert alert-danger">-->
<!--        Flower is required-->
<!--      </div>-->
<!--    </div>-->

    <button type="submit" class="btn btn-success" [disabled]="!Form.form.valid">Submit</button>

  </form>
</div>

