.hero-box {
  background-color: var(--color-primary);
  padding: 4rem;

  h1 {
    font-size: 200%;
    font-weight: bold;
    color: var(--color-tertiary);
  }
  p {
    color: var(--color-tertiary);
  }
}

