<div id="formContainer" class="col-lg-6" [hidden]="submitted">
  <app-hero-box></app-hero-box>
  <form (ngSubmit)="onSubmit()" #Form="ngForm">

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" matInput [formControl]="inputFormControl" [errorStateMatcher]="matcher" placeholder="Deisi">
        <mat-error *ngIf="inputFormControl.hasError('minLength') && !inputFormControl.hasError('minLength')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="inputFormControl.hasError('required')">First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput [formControl]="inputFormControl" [errorStateMatcher]="matcher" placeholder="Bonilla">
        <mat-error *ngIf="inputFormControl.hasError('minLength') && !inputFormControl.hasError('minLength')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="inputFormControl.hasError('required')">Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">Please enter a valid email address</mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!Form.form.valid">Submit</button>

  </form>
</div>

