form {
  background-color: var(--form-bg-color);
  padding: 4rem;

  .form-group {
    margin-bottom: 12px;
    .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
  }

  button {
    background-color: var(--color-secondary);
    border-radius: 0;
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
}

