// input fields
.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #333333;
  background-color: #ffffff;
}

// radio buttons
mat-radio-group {
  mat-radio-button {
    label {
      font-weight: 100;
    }
    .mat-radio-container {
      .mat-radio-outer-circle {
        border-width: 1px;
        border-color: #333333;
      }
    }
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #333333;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--color-secondary);
  }
}


